<div ng-controller="LeftCtrl">
  {{ test }}
</div>


<div ng-controller="RightCtrl">
  {{ test }}
</div>



<div class="row">

		<div class="col-md-6">
			<div ng-controller="LeftCtrl as left">
				{{ left.tagline }}
				{{ left.hi }}

				<div class='well chatbox' id='chat_history'>
					<ul class='list-unstyled'>
						<li ng-repeat='m in messages'>
							<i class='fa fa-comment'></i>
							&nbsp;
							<b>{{ m.from }} </b>:
							&nbsp;
							{{ m.message }}
						</li>
					</ul>
				</div>
				<br>
				<form ng-submit='sendMessage()'>
			      <div class='input-group'>
			        <input class='input-sm form-control' ng-model='message' type='text' placeholder="Type a message...">
			        <span class='input-group-btn'>
			          <input class='input-sm btn btn-default'
			          type='submit'
			          value='Send'>
			        </span>
			      </div>
			    </form>

			</div>
		</div>


		<div class="col-md-6">
			<div ng-controller="LeftCtrl as right">
				{{ right.tagline }}
				{{ right.hi }}

				<div class='well chatbox' id='chat_history'>
					<ul class='list-unstyled'>
						<li ng-repeat='m in messages'>
							<i class='fa fa-comment'></i>
							&nbsp;
							<b>{{m.from}} </b>:
							&nbsp;
							{{m.message}}
						</li>
					</ul>
				</div>
				<br>
				<form ng-submit='sendMessage()'>
			      <div class='input-group'>
			        <input class='input-sm form-control' ng-model='message' type='text' placeholder="Type a message...">
			        <span class='input-group-btn'>
			          <input class='input-sm btn btn-default'
			          type='submit'
			          value='Send'>
			        </span>
			      </div>
			    </form>

			</div>
		</div>

	</div>
