<div class="row">

  <!-- left chat window -->
  <div class="col-xs-12 col-md-6 left-chat" ng-controller="LeftCtrl">
    <div class="left-menu text-center">
      <div class="other-name">
        <b>{{ otherName }}</b>
        <small class="animate-show-hide" ng-show="rightIsTyping">
          is typing
        </small>
      </div>
    </div>
    <ul id="autoscrollLeft" class="messages vertical-line">
      <li ng-class="{ 'sent' : m.from == name, 'received' : m.from != name }" ng-repeat='m in messages'>
        <div ng-class="{ 'sent-bubble' : m.from == name, 'received-bubble' : m.from != name }">
          <small>{{ m.timestamp | amUtc | amLocal | amDateFormat:'H:mm:ss a' }}</small>
          <br>
          <b>{{ m.from }} </b>:
          &nbsp;
          {{ m.message }}
        </div>
      </li>
    </ul>
    <div class="bottom-bar">
      <form ng-submit="sendMessageLeft()">
        <div class="form-group label-floating">
          <div class="input-group">
            <input type="text" ng-model="message" ng-keyup="isTyping = true" ng-change="inputChanged()"
            class="form-control" placeholder="Type a message...">
            <span class="input-group-btn">
              <button type="button" class="btn btn-fab btn-fab-mini" ng-click="sendMessageLeft()">
                <i class="material-icons">send</i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- right chat window -->
  <div class="col-xs-12 col-md-6 right-chat" ng-controller="RightCtrl">
    <div class="right-menu text-center">
      <div class="other-name">
        <b>{{ otherName }}</b>
        <small class="animate-show-hide" ng-show="leftIsTyping">
          is typing
        </small>
      </div>
    </div>
    <ul id="autoscrollRight" class="messages vertical-line">
      <li ng-class="{ 'sent' : m.from == name, 'received' : m.from != name }" ng-repeat='m in messages'>
        <div ng-class="{ 'sent-bubble' : m.from == name, 'received-bubble' : m.from != name }">
          <small>{{ m.timestamp | amUtc | amLocal | amDateFormat:'H:mm:ss a' }}</small>
          <br>
          <b>{{ m.from }} </b>:
          &nbsp;
          {{ m.message }}
        </div>
      </li>
    </ul>
    <div class="bottom-bar">
      <form ng-submit="sendMessageRight()">
        <div class="form-group label-floating">
          <div class="input-group">
            <input type="text" ng-model="message" ng-keyup="isTyping = true" ng-change="inputChanged()"
             class="form-control" placeholder="Type a message...">
            <span class="input-group-btn">
              <button type="button" class="btn btn-fab btn-fab-mini" ng-click="sendMessageRight()">
                <i class="material-icons">send</i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
