/*  general styles  */

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.row {
  margin: 0;
}

.col-md-6, .col-xs-12 {
  padding: 0;
}

.other-name {
  font-size: 18px;
}

.animate-show-hide {
  transition: all linear 0.5s;
}
.animate-show-hide.ng-hide {
  opacity: 0;
}

/*  chat bubbles  */

.sent {
  color: white;

}

.received {
  color: gray;
}

.sent-bubble {
  display: block;
  clear: both;
  background-color: #009688;
  /*min-width: 50%;*/
  max-width: 70%;
  word-wrap: break-word;
  float: right!important;
  border-radius: 4px!important;
  padding: 15px!important;
  margin: 10px 15px 10px 10px;
  position: relative!important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.175)!important;
  box-shadow: 0 1px 6px rgba(0,0,0,.175)!important;
}

li > .sent-bubble:after {
  position: absolute!important;
  top: 27px!important;
  right: -13px!important;
  display: inline-block!important;
  border-top: 14px solid transparent!important;
  border-left: 14px solid #009688!important;
  border-right: 0px solid #009688!important;
  border-bottom: 14px solid transparent!important;
  content: " "!important;
  margin-right: 5px;
}

.received-bubble {
  float: left !important;
  display: block;
  clear: both;
  background-color: #fff;
  /*min-width: 30%;*/
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 4px!important;
  padding: 15px!important;
  margin: 10px 10px 10px 15px;
  position: relative!important;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.175)!important;
  box-shadow: 0 1px 6px rgba(0,0,0,.175)!important;
}

.received-bubble:after {
  position: absolute!important;
  top: 27px!important;
  left: -13px!important;
  display: inline-block!important;
  border-top: 14px solid transparent!important;
  border-left: 0px solid #fff!important;
  border-right: 14px solid #fff!important;
  border-bottom: 14px solid transparent!important;
  content: " "!important;
  margin-left: 5px;
}

.left-chat, .right-chat {
  background-color: #edeff2;
  height: 100vh;
}

.left-menu, .right-menu {
  background-color: white;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 20px 2px 30px rgba(0, 0, 0, 0.1);
}



/*  chat box  */

.messages {
  position: relative;
  list-style: none;
  margin: 0;
  overflow: scroll;
  height: calc(100vh - 170px);
  width: 100%;
  /*overflow-y: scroll;*/

}

ul {
  padding: 0;
}

.bottom-bar {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}

.btn:focus,.btn:active {
   outline: none !important;
}
